body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

.hidden{display:none}

.login-box{
max-width:300px;
margin:120px auto;
background:#1c1c1c;
padding:20px;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:6px;
}

button{
padding:10px;
width:100%;
border:none;
border-radius:6px;
background:#ff4d6d;
color:white;
cursor:pointer;
}

.topbar{
display:flex;
justify-content:space-between;
padding:15px;
background:#1c1c1c;
}

.tabs button{
padding:10px;
margin-right:5px;
border:none;
border-radius:6px;
cursor:pointer;
}

.active{
background:#ff4d6d;
}

.container{
padding:20px;
}

.pedido{
background:#1c1c1c;
padding:12px;
margin:10px 0;
border-radius:10px;
}

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-bottom:20px;
}

.card{
background:#1c1c1c;
padding:10px;
border-radius:10px;
}

canvas{
background:#1c1c1c;
padding:10px;
border-radius:10px;
}

.statusBtn{
margin:3px;
padding:5px;
border:none;
border-radius:6px;
cursor:pointer;
}